// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // ❗️❗️❗️ The path to images from a SASS file
//   // is always the same as from the css folder.
//   background-image: url('../images/logo.png');
//   background-size: cover;
//   background-position: center;
// }
// body{
//   background-color: tomato;
// }

.form-group{
  margin-right: 10px;
}

  .search-form input {
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 8px 10px;
    font: inherit;
    border: 5px solid rgb(15, 153, 177);
    border-radius: 10px;
   
    
  }

.btn{
  display: block;
    margin: 25px auto 0 auto;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    font: inherit;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0;
}
.btn:hover {
  background-color: lightgreen;
}

.form-inline{
  width: 100%;
  display: flex;
  justify-content: center;
}

.articlas{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
  .gallery-link {
    margin: auto;
    min-width: 300px;
    flex-basis: calc((100% - 80px) / 4);
    border: 1px solid rgb(241, 238, 238);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    margin-bottom: 15px;
  }
  
  .gallery-link:hover,
  .gallery-link:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .photo-card-image {
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  
  .info {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 10px;
    justify-content: space-between;
  }
  
  .info-item:not(:first-child) {
    margin-left: 5px;
  }
  .load-more{
    display: block;
    margin: 25px auto 0 auto;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    font: inherit;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
  }

  .load-more:hover {
    background-color: lightgreen;
  }

  .load-more.is-hidden {
    display: none;
  }

  button > .spinner.is-hidden{
    display: none
  }
